<app-navbar></app-navbar>
 <div class="row">
    
<div class="col-lg-2">
<app-side-bar></app-side-bar> 
</div>
<div class="col-lg-9">
  <div class=" title my-4">
  <h4><i class="fa-sharp fa-solid fa-people-line me-3 "></i>Customers</h4> 
  <p>Company customers details</p> 
</div>
<ng-container *ngFor="let customer of customers">
  <ng-container *ngIf="customer.firstName ==customersName ">
    <div class="card mb-3 center" >
      <div class="row g-0">
       
        <div class="col-md-8">
          <div class="card-body">
            <p class="card-text"><b>First Name:</b> {{customer.firstName}}</p>
            <p class="card-text"><b>Last Name:</b> {{customer.lastName}}</p>
            <p class="card-text"><b>Phone:</b> {{customer.phone}}</p>
        <p class="card-text"><b>Email:</b> {{customer.email}}</p>
        <p class="card-text"><b>Address: </b>{{customer.address}}</p>
      
          </div>
        </div>
      </div>
    </div>
    <button class="btn" (click)="allCustomers()">All Customers</button>
  </ng-container>
</ng-container>

</div>


</div>
  