 <div class="dibnav" style="width:200px; height: 1000px;">
 <nav class="navbar navbar-expand-lg  "
>
    <div class="position-sticky container-fluid">
      <div class=" list-group-flush mx-2  ">
        <div class="container mt-0 ">
        <a
          routerLink="/home"
          class="dropdown-item list-group-item  py-2 ripple nav-link navbar-brand active"
       
          aria-current="true"
        >
          <i class="fa-sharp fa-solid fa-people-line me-3"></i><span>Customers</span>
        </a>
        <a  class=" list-group-item  py-2 ripple navbar-brand active" routerLink="/contact"
        >
          <i class="fa-regular fa-address-book me-3"></i><span>Contacts</span>
        </a>
        <a  class=" list-group-item  py-2 ripple navbar-brand active"
          routerLink="/padeNotFound"><i class="fa-regular fa-hand-point-up me-3"></i><span>Leads</span></a
        >
        <a class=" list-group-item  py-2 ripple navbar-brand active" routerLink="/padeNotFound"
         ><i class="fa-solid fa-flag me-3"></i><span>Reports</span></a
        >
       </div>
        
      </div>
    </div>
  </nav>
</div>